include /abstracts/functions.pug
include /abstracts/mixins.pug

.sb-Root
    h1.sb-Heading.sb-Heading--large Typography
    
    h2.sb-Heading.sb-Heading--medium Font Sizes
    ul.sb-Grid.sb-Grid--1col.sb-u-mb-4
        li.sb-Grid__item
            .sb-Typo
                .sb-Typo__name 
                    | Large Title&#32; 
                    span (500 34px/44px)
                .sb-Typo__render
                    .cn-heading.cn-heading--xlarge Heading XLarge
        li.sb-Grid__item
            .sb-Typo
                .sb-Typo__name 
                    | Title 1&#32;
                    span (400 28px/34px)
                .sb-Typo__render
                    .cn-heading.cn-heading--large Heading Large
        li.sb-Grid__item
            .sb-Typo
                .sb-Typo__name 
                    | Title 2&#32;
                    span (400 22px/28px)
                .sb-Typo__render
                    .cn-heading.cn-heading--medium Heading Medium
        li.sb-Grid__item
            .sb-Typo
                .sb-Typo__name 
                    | Title 3&#32;
                    span (500 19px/25px)
                .sb-Typo__render
                    .cn-heading.cn-heading--small Heading Small
        li.sb-Grid__item
            .sb-Typo
                .sb-Typo__name 
                    | Lead&#32;
                    span (400 19px/25px)
                .sb-Typo__render
                    .cn-heading.cn-heading--small.cn-u-font-normal Heading Lead
        li.sb-Grid__item
            .sb-Typo
                .sb-Typo__name 
                    | Body&#32;
                    span (400 15px/22px)
                .sb-Typo__render
                    div Body Text
        li.sb-Grid__item
            .sb-Typo
                .sb-Typo__name 
                    | Small&#32;
                    span (400 13px/22px)
                .sb-Typo__render
                    div(style={'font-size': `${13/15}em`, 'line-height': `${22/15}em`}) Body Small Text

    h2.sb-Heading.sb-Heading--medium Typeface

    code Helvetica Neue, Roboto, sans-serif
